{% extends 'base.jinja'%} {% block content %}
<div class="container">
	<h1 style="font-size: 84px; font-weight: 1000" class="text-center">404</h1>
	<h2 class="text-center">
		Страница не найдена! Пожалуйста вернитесь на <a href="/">главную страницу</a>
	</h2>
</div>
{% endblock %}
